<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts() {
      var backdata = <%-JSON.stringify(data)%>;

      var barData = google.visualization.arrayToDataTable(backdata);

      var barOptions = {
          focusTarget: 'category',
          backgroundColor: 'transparent',
          colors: ['cornflowerblue', 'tomato','orange'],
          fontName: 'Open Sans',
          chartArea: {
              left: 10,
              top: 10,
              width: '80%',
              height: '70%'
          },
          animation:{
              duration: 1000,
              easing: 'out',
              startup: true
          },
          hAxis: {
              textStyle: {
                  fontSize: 11
              }
          },
          vAxis: {
              minValue: 0,
              baselineColor: '#DDD',
              gridlines: {
                  color: '#DDD',
                  count: 15
              },
              textStyle: {
                  fontSize: 11
              }
          },
          legend: {
              position: 'bottom',
              textStyle: {
                  fontSize: 12
              }
          }
      };

      var barChart = new google.visualization.ColumnChart(document.getElementById('bar-chart'));
      barChart.draw(barData, barOptions);
  }
</script>
<div class="window" id="window_layout">
    <div class="window_navbar">
      <%- include('../partials/admin/navigation_bar.ejs') %>
    </div>

    <div class="window_container">
      <div class="table_container">
        <div class="table_header">
            <h1 class="title">Attendance-Graph</h1>
        </div>
        
          
        <div>
          <label for="date_selector">Pick A Date</label>
          <input id="date_selector" type="date" name="goto" style="color: black;">
        </div>

        
    </div>
            <div id="bar-chart"></div>
          
              
          
   </div>
</div>    


<script>
  const currentDate = new Date();
  const maxDate = currentDate.toISOString().slice(0, 10);
  const date_selector = document.getElementById("date_selector");
  date_selector.setAttribute("max", maxDate);
  date_selector.addEventListener("change", () => {
    date = date_selector.value;
    datepart = date.split("-");
    if (datepart.length === 3) {
      const day = datepart[2];
      const month = datepart[1];
      const year = datepart[0];
      formated_date = `${day}-${month}-${year}`;
      window.location.href =`/admin/attendance_graph/${formated_date}`;
    }
  });
</script>