<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
  google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawCharts);
var ww = document.getElementById('blah').textContent
var wx = parseInt(ww)
console.log(typeof(wx));
//console.log('venna',ss);


function drawCharts() {


var backdata= [
['Day', 'pre', 'abs'],
['Sun',50,25],
['Mon',45,30],
['Mon',45,30],
['Mon',45,30],
['Mon',45,30],
['Mon',45,30],
['Mon',45,30],
['Mon',45,30],
['Mon',45,30],



]

var barData = google.visualization.arrayToDataTable(
backdata
);
// set bar chart options
var barOptions = {
focusTarget: 'category',
backgroundColor: 'transparent',
colors: ['cornflowerblue', 'tomato'],
fontName: 'Open Sans',
chartArea: {
left: 50,
top: 10,
width: '100%',
height: '70%'
},
bar: {
groupWidth: '90%'
},
hAxis: {
textStyle: {
  fontSize: 11
}
},
vAxis: {
minValue: 0,
maxValue: 150,
baselineColor: '#DDD',
gridlines: {
  color: '#DDD',
  count: 4
},
textStyle: {
  fontSize: 11
}
},
legend: {
position: 'bottom',
textStyle: {
  fontSize: 12
}
},
animation: {
duration: 1200,
easing: 'out',
      startup: true
}
};
// draw bar chart twice so it animates
var barChart = new google.visualization.ColumnChart(document.getElementById('bar-chart'));
//barChart.draw(barZeroData, barOptions);
barChart.draw(barData, barOptions);

// BEGIN LINE GRAPH

//   function randomNumber(base, step) {
//     return Math.floor((Math.random()*step)+base);
//   }
//   function createData(year, start1, start2, step, offset) {
//     var ar = [];
//     for (var i = 0; i < 12; i++) {
//       ar.push([new Date(year, i), randomNumber(start1, step)+offset, randomNumber(start2, step)+offset]);
//     }
//     return ar;
//   }
//   var randomLineData = [
//     ['Year', 'Page Views', 'Unique Views']
//   ];
//   for (var x = 0; x < 7; x++) {
//     var newYear = createData(2007+x, 10000, 5000, 4000, 800*Math.pow(x,2));
//     for (var n = 0; n < 12; n++) {
//       randomLineData.push(newYear.shift());
//     }
//   }
//   var lineData = google.visualization.arrayToDataTable(randomLineData);

/*
var animLineData = [
['Year', 'Page Views', 'Unique Views']
];
for (var x = 0; x < 7; x++) {
var zeroYear = createData(2007+x, 0, 0, 0, 0);
for (var n = 0; n < 12; n++) {
animLineData.push(zeroYear.shift());
}
}
var zeroLineData = google.visualization.arrayToDataTable(animLineData);
*/

//   // draw pie chart
//   var pieChart = new google.visualization.PieChart(document.getElementById('pie-chart'));
//   pieChart.draw(pieData, pieOptions);
}
</script>
<div class="window" id="window_layout">
    <div class="window_navbar">
      <%- include('../partials/admin/navigation_bar.ejs') %>
    </div>

    <div class="window_container">
      <div class="table_container">
        <div class="table_header">
            <h1 class="title">Attendance-Graph</h1>
        </div>
        
        <div>
            <label for="date_selector">Month</label>
            <input id="date_selector" type="month" name="goto" />
          </div>

        
    </div>
            <div id="bar-chart"></div>
          
              
          
   </div>
</div>    

