<link rel="stylesheet" href="/css/admin/institution_info/subnav_bar.css">
<div class="container_lr">
    <div class="subnav_bar">
        <div class="logo">
            <div class="img"><img src="/img/logo.svg" alt=""></div>
        </div>
        <div class="title">
            <div class="name"><p>Institution Information</p></div>
        </div>
        <div class="nav_bar">
            <ul>
                <li><a href="/institution_info/common_info" class="nav_link">Common Info</a></li>
                <li><a href="/institution_info/higher_authority" class="nav_link">Higher Authority</a></li>
                <li><a href="/institution_info/achivements" class="nav_link">Achivements</a></li>
                <li><a href="/institution_info/annual_report" class="nav_link"> class="nav_link"Annual Report</a></li>
                <li><a href="/institution_info/others" class="nav_link">Others</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aspernatur recusandae unde, numquam corrupti quam dignissimos saepe rem quibusdam nesciunt praesentium ab sit quia placeat eius. Officia debitis, delectus, fugiat voluptate esse voluptatem consequatur numquam voluptates rem velit laudantium beatae dolores aspernatur ipsam impedit illum unde. Quo vel excepturi et iure voluptatem rem sed earum expedita perferendis tenetur autem voluptates possimus soluta debitis, similique quaerat distinctio libero, qui voluptas perspiciatis molestias quia aperiam. Debitis at aut quos aliquid eos deserunt ad suscipit cum fugit temporibus neque, sint numquam praesentium quia saepe similique placeat possimus fuga? Voluptatem saepe iure ullam molestiae obcaecati delectus a? Enim, provident! Ducimus eveniet itaque unde rerum, cumque quod! Id officia quos suscipit quasi iste. Exercitationem dignissimos numquam, quis beatae molestias quibusdam nostrum temporibus. Animi provident nulla esse commodi culpa cum deleniti ea, neque iste expedita, magnam molestiae vel ab. Architecto magnam cupiditate, possimus ipsam temporibus dolorem nisi laudantium aperiam unde qui labore harum quas. Molestias sapiente eaque earum neque vitae dolores corrupti possimus optio dolorem obcaecati, fugiat rem laboriosam quis mollitia. Nemo, temporibus fugiat. Quisquam ipsa voluptatibus et eaque, mollitia porro dolorem maiores dicta vero deserunt possimus impedit harum quam id quis architecto unde tempora doloribus.
</div>
