<%- include('../../partials/admin/institution_subnavbar.ejs') %>
<div class="container center_title">
    <%= page_title %>
    <div class="float_right">
        <a href="/institution_info/common_info/form_common_info" id="toggleButton"><button>Edit</button></a>
    </div>
</div>