<link rel="stylesheet" href="/css/universal/universal.css">

<div class="universal_header">
    <%- include('../partials/universal/universal_navbar.ejs') %>
</div>
<div class="universal_main">
    <div class="container_lr home_title">
        <h2>ABCD Higher Secondary School</h2>
    </div>
    <div class="container_lr description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nesciunt nulla vel possimus modi ducimus. Repellendus obcaecati quia debitis expedita eligendi dolore, recusandae laudantium doloremque. Dolorum, iusto expedita iure, tempora ut commodi reiciendis saepe nihil natus magni atque ipsam quasi!</p>
    </div>
</div>
<div class="universal_footer">
    
</div>
