<link rel="stylesheet" href="/css/universal/universal.css" />

<div class="universal_header">
  <%- include('../partials/universal/universal_navbar.ejs') %>
</div>

<div class="universal_main">
  <div class="slideshow-container">
    <img class="mySlides" src="/img/home/gasc_1.jpg" width="60%" />
    <div class="text">
      <h1>Image 1 Description</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi
        architecto dolor nam quibusdam aliquam expedita. Hic aperiam dignissimos
        optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
        commodi, eum quaerat, nobis architecto voluptas velit facere nisi dolore
        reiciendis eligendi ea eveniet odit quis natus laborum sit debitis porro
        doloremque illo accusamus sapiente a ullam. Animi molestias, nostrum
        fugit, voluptates iste ratione ad culpa fugiat nobis pariatur ipsa!
        Deleniti, blanditiis quisquam cumque consequatur nulla dolore corporis
        reiciendis inventore velit et nisi exercitationem unde doloribus at
        fugiat fugit, accusantium sequi aspernatur eos perferendis iusto ipsam
        tenetur? Alias aspernatur placeat, nam voluptatum a autem neque. Beatae,
        numquam? Rerum quasi quas tempore facere, enim ad magni, dolores alias
        eius, nam repellendus consequatur!
      </p>
    </div>

    <img class="mySlides" src="/img/home/gasc_2.jpg" width="60%" />
    <div class="text">
      <h1>Image 2 Description</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi
        architecto dolor nam quibusdam aliquam expedita. Hic aperiam dignissimos
        optio.
      </p>
    </div>

    <img class="mySlides" src="/img/home/gasc_3.jpg" width="60%" />
    <div class="text">
      <h1>Image 3 Description</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi
        architecto dolor nam quibusdam aliquam expedita. Hic aperiam dignissimos
        optio. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet
        consequuntur ab illo similique doloremque.
      </p>
    </div>

    <img class="mySlides" src="/img/home/gasc_1.jpg" width="60%" />
    <div class="text">
      <h1>Image 4 Description</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi
        architecto dolor nam quibusdam aliquam expedita. Hic aperiam dignissimos
        optio. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
        accusantium.
      </p>
    </div>

    <img class="mySlides" src="/img/home/gasc_1.jpg" width="60%" />
    <div class="text">
      <h1>Image 5 Description</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi
        architecto dolor nam quibusdam aliquam expedita. Hic aperiam dignissimos
        optio.
      </p>
    </div>
  </div>
</div>

<div class="welcome_para">
  <h1>Welcome <br /><span>ABCD School</span></h1>
</div>

<div id="cssportal-grid" class="card_container">
  <div id="div1" class="card">
    <div class="card_img">
      <img src="/img/home/img_1.jpg" alt="Image 1" />
    </div>
    <div class="card_text">Text content for div 1</div>
  </div>
  <div id="div2" class="card">
    <div class="card_img">
      <img src="/img/home/img_2.jpg" alt="Image 2" />
    </div>
    <div class="card_text">Text content for div 2</div>
  </div>
  <div id="div3" class="card">
    <div class="card_img">
      <img src="/img/home/img_3.jpg" alt="Image 3" />
    </div>
    <div class="card_text">Text content for div 3</div>
  </div>
  <div id="div4" class="card">
    <div class="card_img">
      <img src="/img/home/img_4.jpg" alt="Image 4" />
    </div>
    <div class="card_text">Text content for div 4</div>
  </div>
</div>

<div class="text_container">
  <div class="img_box">
    <img src="/img/home/school_bg.png" alt="" />
  </div>
  <div class="text_box">
    <h2>Description</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nesciunt
    blanditiis sunt adipisci cupiditate voluptates reiciendis impedit maxime
    harum cum labore ullam, dicta autem in error rem deleniti, minus eos
    incidunt. Nihil veritatis delectus ratione perferendis expedita tempora,
    assumenda, rerum ullam enim temporibus qui, asperiores et accusantium quo
    pariatur. <br /><br />

    Perferendis iusto, molestiae dolorem repellat magni pariatur quo harum ut
    aliquam, libero dolores cumque. Placeat, illo laborum neque, deserunt
    similique pariatur at quaerat dolor perspiciatis iusto, quam odio.
    Doloremque, facilis natus dicta ipsam dignissimos corporis provident,
    explicabo harum totam ad iusto. Iusto ipsam itaque quae vitae tempora
    veritatis quam quibusdam nihil. Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Incidunt quaerat quae, ab eveniet fugit aspernatur ipsum
    aliquam perspiciatis minus eos magnam fuga quos cumque sit unde inventore
    voluptates adipisci velit. <br /><br />

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis labore
    magni enim veniam unde quia pariatur impedit, quo cupiditate voluptate eius.
    Commodi, quod natus veniam deleniti, perspiciatis quo porro culpa earum
    velit hic dolores molestias in exercitationem suscipit repellat saepe cumque
    nisi nobis ipsam nesciunt a quae incidunt? Natus, cum!
  </div>
  <div class="img_box_2">
    <img src="/img/home/book.png" alt="" />
  </div>
</div>

<div class="universal_footer"></div>

<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var texts = document.getElementsByClassName("text");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.opacity = 0;
      texts[i].style.opacity = 0;
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    slides[slideIndex - 1].style.opacity = 1;
    texts[slideIndex - 1].style.opacity = 1;
    setTimeout(showSlides, 2000);
  }
</script>
