<div class="window" id="window_layout">
    <div class="window_navbar">
        <%- include('partials/staff/navigation_bar.ejs',{circularNotification}) %>
    </div>

    <div class="window_container">
        <h1><%=staffdata[0].staff_name%></h1>
    </div>
</div>
