/* Button and form styling */
.hostel_addstudent_button {
    margin-left: 1100px;
}

.hostel_form{
    position: fixed;
    margin-top: -30%;
    margin-left: 15%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.edit-hostel-page{
    margin-top: -20%;
    margin-left: 15%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

/* Gender option styling */
.gender_option {
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}

.gender_option input {
    font-size: 30px;
    margin-left: 120px;
}

.display_students{
    display: flex;
    margin-top: 50px;
}
.boys_container{
    margin-left: 60px;
  
}
.girls_container{
    margin-left: 40px;
}
.Girls_Hostel_Students{
    font-size: 20px;
    margin-left: 150px;
}
.Boys_Hostel_Students{
    font-size: 20px;
    margin-left: 150px;
}
.display_students .table {
    border-collapse: collapse;
    width: 100%; /* Increase width as needed */
    margin-top: 20px;
    transition: transform 0.3s ease-in;
}
.table:hover{
    transform:scale(1.04);
}

