@import url(root.css);
.staff_main_container {
    position: relative;
    background-color:var(--bg-color);
    height: 1100px;
    margin-top: 0px;
    display: grid;
    border-radius: 10px 10px 0 0;
    
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    
  }
  
  /* Styles for staff profile image */
  .staff_main_container img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-left: -1100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transform: scale(1);
   
    transition: transform 0.3s ease;
  }
  .staff_profile_img:hover{
    transform: scale(1.1);
  }
  
  /* Styles for staff details */
  .staff_details {
    margin-top: 120px;
  }
  .staff_name{
    border: solid white;
    background-color:var( --primary-color);
    margin-top: -120px;
    height: 50px;
    width: 700px;
    border-radius: 30px;
    margin-left: 280px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
  }
  
  /* Styles for staff name */
  .staff_name h3 {
    margin-left: 70px;
    
    font-size: 30px;
    text-transform: uppercase;
  }
  
  .staff_id{
    border: solid white;
    background-color:var( --box-color);
    margin-top: -40px;
    height: 50px;
    width: 700px;
    border-radius: 30px;
    margin-left: -500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .staff_id h3 {
   margin-left: 50px; 
    font-size: 30px;
  }
  
  /* Styles for staff emails */
  .staff_emails {
    margin-top: -420px;
    margin-left: 750px;
  }
  
  /* Styles for staff email headings */
  .staff_emails h3 {
    padding: 12px;
    margin-top: 5px;
  }
  
  /* Styles for staff name, image, and ID container */
  .staff_name_img_id {
    display: flex;
    margin-top: 50px;
    height: 20px;
  }
  
  /* Styles for main staff details container */
  .staff_main_details {
    border: 2px solid white;
 
    background-color:var( --box-color);
    height: 430px;
    margin-left: 80px;
    border-radius: 10px;
    margin-top: 100px;
    width: 550px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  /* Styles for secondary staff details container */
  .staff_main_details_2 {
    border: 2px solid white;
    background-color:var( --box-color);
    height: 430px;
    margin-left: 700px;
    border-radius: 10px;
    margin-top: -410px;
    width: 550px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Styles for staff details headings */
  .staff_main_details h3 {
   
    padding: 20px;
  }
  
  /* Styles for staff profile image */
  .staff_profile_img {
    margin-top: 50px;
  }
  
  /* Styles for staff name details */
  .staff_name_details {
    margin-top: -420px;
    margin-left: 100px;
    width: 660px;
  }
  
  /* Styles for staff name details headings */
  .staff_name_details h3 {
    padding: 15px;
    margin-left: 40px;
    width: 600px;
  }
  
  /* Styles for staff name details 2 */
  .staff_name_details_2 {
    margin-top: 100px;
  }
  
  /* Styles for tertiary staff details container */
  .staff_main_details_3 {
    display: flex;
    border: 2px solid white;
    background-color:var( --box-color);
    height: 300px;
    margin-top: 70px;
    border-radius: 10px;
    margin-left: 80px;
    width: 1170px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Styles for tertiary staff details */
  .staff_details_3 {
    display: flex;
    margin-top: -280px;
    margin-left:150px;
  }
  
  /* Styles for tertiary staff details headings */
  .staff_details_3 h3 {
    margin-top: 20px;
    display: flex;
  }
  

  /* Styles for font awesome icons */
  .fa-solid {
    margin-top: -110px;
    margin-left: -240px;
    font-size: 20px;
  }
  
  /* Styles for font awesome ID card icon */
  .fa-id-card {
    margin-left: -230px;
  }
  .education_info{
   margin-top:0px;
   background-color:var(--bg-color);
   
    height: 300px;
    height: 500px;
   display: flex;
   border-radius: 0 0 10px 10px;
  }
  .education_details {
    
    border: solid white;
    background-color:var( --box-color);
   
    width: 550px;
    padding: 30px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top:10px;
    height: 300px;
    margin-left: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .education_details h3{
    padding: 20px;
  }
  .education_info h1{
    font-size: 30px;
  }
  .acheivement_box{
    margin-top:-28px;
  
    
     height: 100px;
  display: flex;
 
   
  }
  .acheivement_value{
    border: solid white;
    background-color:var( --box-color);
    width: 550px;
    padding: 30px;
    
    border-radius: 20px;
    margin-top:-460px;
    height: 300px;
    margin-left: 700px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .acheivement_value h1{
    font-size: 30px;
  }
  .acheivement_value h3{
    padding: 20px;
  }
  .view_document{
    margin-top: -200px;
    margin-left: 470px;
  }
  .popup{
    margin-top: -1200px;
  }
.staff_colon{
 margin-left: 100px;
}
.staff_colon_1{
  margin-left: 65px;
}
.staff_colon_2{
  margin-left: 72px;
}
.staff_colon_3{
  margin-left: 65px;
}
.staff_colon_4{
  margin-left: 90px;
}
.staff_colon_5{
  margin-left: 66px;
}
.staff_colon_6{
  margin-left: 80px;
}
.staff_basic_details{
  margin-left: 60px;
}
.staff_name_details h1{
  margin-top: -30px;
  font-size: 30px;
  margin-left: 30px;
}
.staff_emails h1{
  margin-top: -30px;
  font-size: 30px;
  margin-left: -30px;
}
.staff_colon_7{
  margin-left: 30px;
}
.staff_colon_7{
  margin-left: 122px;
}
.staff_colon_8{
  margin-left: 50px;
}
.staff_colon_9{
  margin-left: 140px;
}
.staff_colon_10{
  margin-left: 67px;
}
.staff_colon_11{
  margin-left: 57px;
}
.staff_colon_12{
  margin-left: 20px;
}
.staff_colon_13{
  margin-left: 42px;
}
.staff_basic_details_2{
  margin-left: 30px;
}
.staff_colon_14{
  margin-left: 82px;
}
.staff_colon_15{
  margin-left: 76px;
}
.staff_colon_16{
  margin-left: 62px;
}
.staff_colon_17{
  margin-left: 30px;
}
.staff_colon_18{
  margin-left: 64px;
}
.staff_colon_19{
  margin-left: 90px;
}
.staff_colon_20{
  margin-left: 114px;
}
.staff_colon_21{
  margin-left: 44px;
}
.staff_colon_22{
  margin-left: 111px;
}
.staff_colon_23{
  margin-left: 109px;
}
.staff_basic_details_3{
  margin-left: 100px;
}
.staff_details_3 h1{
  font-size: 30px;
}
.side{
  margin-left: 600px;
  margin-top: -210px;
}
.staff_colon_24{
  margin-left: 50px;
}
.staff_colon_25{
  margin-left: 37px;
}
.staff_basic_details_4{
  margin-left: 50px;
}
.staff_colon_26{
  margin-left: 37px;
}
.staff_colon_27{
  margin-left: 50px;
}
.staff_edit_button{
  margin-top: -150px;
  margin-right: -100px;
}
.education_info h1{
  margin-top: -10px;
  margin-left: 20px;
}
.acheivement_box h1{
  margin-top: -10px;
  margin-left: 20px;
}
   @media only screen and (max-width: 768px) {
    .staff_main_container {
      border-radius: 5px;
      margin-left: 0;
      grid-template-columns: auto; 
      width: 2400px;
    }
    .education_info{
    margin-left: 10px;
      width: 2000px;
    }
     .acheivement_box{
      width: 600px;
     }
.education_details{
  margin-left: 170px;
}
.acheivement_value{
  margin-left: 850px ;
  width: 600px;
}
.staff_edit_button{
  margin-right: 800px;
}
  } 
  