.hostel_addstudent_button{
    margin-left: 1050px;
}            
.hostel_form{
    margin-top: -100px;
    margin-left: 350px;
}
.gender_option{
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}
.gender_option input{
font-size: 30px;
    margin-left: 120px;
}
/* .display_students{

} */
.add_transports{
   margin-left: 1130px;
   margin-right: 20px;
   margin-top: -25rem;
   aspect-ratio: 16/9;
   display: block;
   
}

.driver-input{
    color: black;
}



.tablee{
    margin-left: 28rem;
    border-collapse: collapse;
    width: auto;
    height: 100px;
    box-shadow: 0 0 20px var(--primary-color);
    margin-top: 3rem;
    
}
.Transport_bus{
    
    margin-left: 45rem;
    font-size: 20px;
}

/* .add_students{
    margin-top: -30rem;
    margin-left: 80rem;} */


.input-data{
    color: black;
}
.form_divv{
    margin-bottom: -19rem;

}
.form_dive{
    margin-bottom: -16.9rem;
}
.form_dev{
    margin-left: 12rem;
}
