.hostel_addstudent_button{
    margin-left: 1050px;
}            
.Transport_form{
    margin-top: -19%;
    margin-left: 17%;
    justify-content: center;
    align-items: center;
}
/* .Transport_form {
    position: fixed;
    margin-top: -450px;
    margin-left: 350px;
} */
.gender_option{
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}
.gender_option input{
font-size: 30px;
    margin-left: 120px;
}
/* .display_students{

} */
/* .add_students{
   margin-left: 1050px;
   margin-right: 200px;
   margin-top: 1rem; */
    

.transports-tablee{
    margin-left: 21%;
    border-collapse: collapse;
    width: auto;
    height: 100px;
    box-shadow: 0 0 20px var(--primary-color);
    margin-top: 5%;
    margin-bottom: 1%;
    
}
.Transport_bus{
    
    margin-left: 43.5%;
    font-size: 150%;
}

.add-Transports{
    display:fixed;
    
    margin-top: -15%;
    margin-left: 80%;

}
.input-data{
    color: black;
}
.form_divv{
    margin-bottom: -14rem;
}
.form_dive{
    margin-bottom: -16.9rem;
}
.form_dev{
    margin-left: 12rem;
}
.input-dataa{
    color: black;
    margin-top: -30%;
}
.input-data-driver{
    margin-top: -33%;
    color: black;
}
.input-roll{
    margin-top: 15%;
    color: black;
    
    height: 1%;
}
.input-driver{
    margin-top: -20%;
    color: black; 
}
.name-driver{
    margin-top: -32%;
}
.data-input-roll{
    background-color: red;
}
.headerr{
    background-color: var( --primary-color);
}
.display_transport .transports-tablee {
    border-collapse: collapse;
    
    transition: transform 0.3s ease-in;
}
.transports-tablee:hover{
    transform:scale(1.02);
}
.file_input .input-select-drivers{
    margin-top: -50%;
}
.input-rollalter{
    margin-top: -25%;
}
.input-route{
    margin-top: -36%;
    
    height: 30%;
}
.select-rollno{
    margin-top: -80%;
}
.input-select-rollno{
    margin-top: -35%;
    color: black;
}
.Transport_form{
    justify-content: center;
    align-items: center;
}
.transport-submit-form{
    margin-left: 35%;
}
.transport-submit-form-btns{
    width: 50%;
}