<div class="window" id="window_layout">
    <div class="window_navbar">
        <%-include('../../partials/admin/navigation_bar.ejs') %>
    </div>

    <div class="window_container">  
        <div class="container center_title">
            Infrastructure
        </div>
    </div>
</div>
