<link rel="stylesheet" href="/css/admin/institution_info/subnav_bar.css">
<div class="container_lr">
    <div class="subnav_bar">
        <div class="logo">
            <div class="img"><img src="/img/logo.svg" alt=""></div>
        </div>
        <div class="title">
            <div class="name">Institution Name - <span>Institution Information</span></div>
        </div>
        <div class="nav_bar">
            <ul>
                <li><a href="/admin/institution_info/common_info">Common Info</a></li>
                <li><a href="/admin/institution_info/higher_authority">Higher Authority</a></li>
                <li><a href="/admin/institution_info/achievements">Achievements</a></li>
                <li><a href="/admin/institution_info/annual_report">Annual Report</a></li>
                <li><a href="/admin/institution_info/others">Others</a></li>
            </ul>
        </div>
    </div>
</div>