<link rel="stylesheet" href="/css/admin/institution_info/subnav_bar.css">
<div class="subnav_bar">
    <ul>
        <li><a href="/admin/facilities/hostel">Hostel</a></li>
        <li><a href="/admin/facilities/transport">Transport</a></li>
        <li><a href="/admin/facilities/lab">Laboratory</a></li>
        <li><a href="/admin/facilities/library">Library</a></li>
        <li><a href="/admin/facilities/coaching">Coaching</a></li>
    </ul>
</div>