<link rel="stylesheet" href="/css/admin/institution_info/subnav_bar.css">
<div class="subnav_bar">
    <ul>
        <li><a href="/admin/institution_info/common_info">Common Info</a></li>
        <li><a href="/admin/institution_info/higher_authority">Higher Authority</a></li>
        <li><a href="/admin/institution_info/achievements">Achievements</a></li>
        <!-- <li><a href="/admin/institution_info/annual_report">Annual Report</a></li>
        <li><a href="/admin/institution_info/others">Others</a></li> -->
        <li><a href="/admin/institution_info/annual_report">Annual Report</a></li>
        <!-- <li><a href="#">Others</a></li> -->
    </ul>
</div>