<!-- <aside>
    <nav class="container_lr nav_bar">
        <H1>GANGA</H1>
        <div class="sub_container nav_list">
            <ul>
                <li><a href="/admin_index"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/admin/institution_info/common_info"><i class="fa-solid fa-school"></i>Institution Info</a></li>
                <li><a href="/admin/staff_info"><i class="fa-solid fa-chalkboard-user"></i>Staff Info</a></li>
                <li><a href="/admin/class_info/class_list"><i class="fa-solid fa-user-graduate"></i>Class Info</a></li>
                <li><a href="/admin/circular"><i class="fa-solid fa-envelope-open-text"></i>Circullar</a></li>
                <li><a href="/admin/set_holidays"><i class="fa-solid fa-address-card"></i>Set Holidays</a></li>
                <li><a href="/admin/attendance_graph"><i class="fa-solid fa-money-check"></i>Attendance Graph</a></li>
                <li><a href="/admin/academic_calendar"><i class="fa-solid fa-money-check"></i>Academic calendar</a></li>
            </ul>
        </div>
        
        <div class="sub_container logout">
            <a href="/logout"><button>Logout</button></a>
        </div>
    </nav>
</aside> -->

<!-- side_menu -->
<aside id="sidebar" class="">
  <a href="/" class="brand" target="_blank" title="">
    <i class="bx bxs-smile"></i>
    <span class="text">ABCD Higher Secondary School</span>
  </a>

  <ul class="side_menu top">
    <!-- <li class="active">
      <a href="/admin_index" title="home">
        <i class="bx bxs-dashboard"></i>
        <span class="text" >Home</span>
      </a>
    </li> -->
    <li>
      <a href="/admin/institution_info/common_info" title="Institution Info">
        <i class="bx bxs-shopping-bag-alt"></i>
        <span class="text">Institution Info</span>
      </a>
    </li>
    <li>
      <a href="/admin/staff_info" title="Staff Info">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Staff Info</span>
      </a>
    </li>
    <li>
      <a href="/admin/class_info/class_list" title="Class Info">
        <i class="bx bxs-message-dots"></i>
        <span class="text">Class Info</span>
       
      </a>
    </li>
    <!-- <li>
      <a href="/admin/infrastructure" title="Infrastructure">
        <i class="bx bxs-message-dots"></i>
        <span class="text">Infrastructure</span>
      </a>
    </li> -->
    <li>
      <a href="/admin/facilities/hostel" title="Facilities">
        <i class="bx bxs-message-dots"></i>
        <span class="text">Facilities</span>
      </a>
    </li>
    <li>
      <a href="/admin/circular" title="Circular">
        <i class="bx bxs-group"></i>
        <span class="text">Circular</span>
      </a>
    </li>
    <li>
      <a href="/admin/bonafide_admin">
        <i class="bx bxs-paper-plane"></i>
        <span class="text">Bonafide</span>
      </a>
    </li>
    <li>
      <a href="/admin/forum" title="Forum">
        <i class='bx bxs-extension'></i>
        <span class="text">Forum</span>
      </a>
    </li>
    </li>
    <!-- <li>
      <a href="/admin/set_holidays">
        <i class="bx bxs-group"></i>
        <span class="text">Set Holidays</span>
      </a>
    </li> -->
    <li>
      <a href="/admin/attendance_graph/today">
        <i class='bx bx-line-chart'></i>
        <span class="text">Attendance Graph</span>
      </a>
    </li>
    <li>
      <a href="/admin/academic_calendar" title="Academic calendar">
        <i class="bx bx-calendar"></i>
        <span class="text">Academic calendar</span>
      </a>
    </li>
  </ul>

  <ul class="side_menu">
    <li>
      <a href="/logout" class="logout" title="Logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="logout_btn">Logout</span>
      </a>
    </li>
  </ul>
</aside>

<!-- top_menu -->
<section id="top_menu">
  <nav>
    <i class="bx bx-menu" title="back"></i>

    <a href="#" title="Admin Dashboard" class="nav-link">Admin Dashboard</a>

    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search..." />
        <button type="submit" class="search-btn" title="search">
          <i class="bx bx-search"></i>
        </button>
      </div>
    </form>

    <input type="checkbox" id="switch-mode" hidden />
    <label for="switch-mode" class="switch-mode" title="switch mode"></label>

    <div class="notification">
      <a href="#" class="notification-icon" title="notifications">
        <i class="bx bxs-bell"></i>
        <span class="num">8</span>
      </a>
      <div class="dropdown">
        <a href="#" class="dropdown-item">Notification 1</a>
        <a href="#" class="dropdown-item">Notification 2</a>
        <a href="#" class="dropdown-item">Notification 3</a>
      </div>
    </div>

    <a href="#" class="profile" title="profile">
      <img src="/img/download.jpg" />
    </a>
  </nav>
</section>

