@import url(../../root.css);
.home_container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.home_container .center {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.home_container .center .logo img {
    width: 200px;
}

.home_container .center .details {
    text-align: center;
}

.home_container .center .details .school_name {
    font-size: 40px;
    font-weight: 500;
}

.home_container .center .details .school_address {
    font-size: 20px;
    font-weight: 500;
}